body {
    padding-top: 50px;
}

#quote-list-page, #customer-list-page {
    height: 70vh;
}

input[type=number] {
    text-align: right;
}

.jsgrid-filter-row td>div.combobox-container input {
    text-align: left;
}
.jsgrid-filter-row td input[type=checkbox] {
    width: 100%;
}


/**
 * Hide number input spinners.
 */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/**
 * Basic formatting of tabular forms.
 */
form > table td {
    padding: 0 5px 5px 0;
}

#fos-user-content {
    max-width: 30em;
    margin: 1em auto;
}

#fos-user-content input {
    width: 100%;
}
#fos-user-content input[type=checkbox] {
    width: auto;
}
